@import 'normalize.css';
@import 'custom_boostrap';
@import 'variables';
@import 'fonts';
@import 'buttons';
@import 'mixins';
@import 'body';
@import 'sections';
@import 'header';
@import 'footer';
@import 'header-menu';
@import 'header-mobile-menu';
@import 'home-about-me';
@import 'recent-posts';
@import 'recent-works';
@import 'icons';


html,
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

main {
  flex: 1 1 auto;
  z-index: 0;
}
footer {
  flex: 0 0 auto;
  width: 100%;
}