.recent-posts {
  padding-bottom: 20px;
  & &__head {
    color: $text-color;
    font-size: 18px;
    margin: 20px auto;
    font-weight: 400;
    text-align: center;
  }
  & &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .post {
    padding: 15px 20px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    color: $text-color;
    & .post__title {
      font-size: 22px;
      line-height: 1;
      margin: 0 auto 20px;
      line-height: 30px;
    }
    & .post__properties {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }
    & .post__date {
      padding-right: 20px;
      border-right: 1px solid $text-color;
    }
  }
}
